Node-red Flow/nod-red-flow.json
[{"id":"11a5c8b9.9202f7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"11a5c8b9.9202f7","name":"","topic":"","payload":"Hello ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":140,"wires":[["d3b465bb.161268"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"11a5c8b9.9202f7","name":"","active":true,"console":"false","complete":"false","x":1090,"y":140,"wires":[]},{"id":"d3b465bb.161268","type":"watson-conversation-v1","z":"11a5c8b9.9202f7","name":"chatbot","workspaceid":"b699870d-3123-487e-94ff-d458f376e806","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.au-syd.assistant.watson.cloud.ibm.com/instances/d1d5423f-6299-4536-9c5d-55d430ac2e8c","timeout":"","optout-learning":false,"x":560,"y":200,"wires":[["b6eefde8.e650a"]]},{"id":"b6eefde8.e650a","type":"function","z":"11a5c8b9.9202f7","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":280,"wires":[["f2f2649a.0d0d98","10078ed0.906751"]]},{"id":"7bb1a037.da507","type":"ui_form","z":"11a5c8b9.9202f7","name":"","label":"","group":"6abc4b2f.19bbd4","order":1,"width":0,"height":0,"options":[{"label":"Enter your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":480,"wires":[["aee9b7aa.431b98"]]},{"id":"aee9b7aa.431b98","type":"function","z":"11a5c8b9.9202f7","name":"input parsing","func":"msg.payload=msg.payload.text\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["d3b465bb.161268","52ae69fd.d5c728"]]},{"id":"52ae69fd.d5c728","type":"ui_text","z":"11a5c8b9.9202f7","group":"6abc4b2f.19bbd4","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":460,"wires":[]},{"id":"10078ed0.906751","type":"ui_text","z":"11a5c8b9.9202f7","group":"6abc4b2f.19bbd4","order":4,"width":20,"height":3,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":400,"wires":[]},{"id":"6abc4b2f.19bbd4","type":"ui_group","z":"","name":"Chatbot","tab":"8ed7a5eb.251058","order":1,"disp":true,"width":20,"collapse":false},{"id":"8ed7a5eb.251058","type":"ui_tab","z":"","name":"Customer Care Support","icon":"dashboard","disabled":false,"hidden":false}]